.frame{
    margin: 0% 25%;
    width: 50%;
    border: solid gainsboro;
    background-color: whitesmoke;
}
.title{
    padding: 0.5em;
    background-color: darkolivegreen;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
}
.content{
    padding: 0.3em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.content label{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0.5em;
    font-size: 1em;
    font-weight: normal;
}
.chat{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0.5em;
}
.chat .photo{
    width: 10%;
}
.chat .photo img{
    width: 100%;
}
.chat .message{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.message_notes {
    height: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.message_notes img{
    height: 100%;
}
.message_notes .likeCount{
    width: 10%;
    font-size:1em;
}
.message_notes .time{
    font-size:1em;
}
@media (max-width:600px){
    .frame{
        margin: 5%;
        width: 90%;
    }
}