<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>week-4_assignment</title>
</head>
<body>
    <div class="frame">
        <div class="title">歡迎光臨，請輸入帳號密碼</div>
        <div class="content">登入系統
            <form action="/signin" method="POST">
                <label>帳號
                    <input type="text" name="account"/>
                </label>
                <label>密碼
                    <input type="password" name="password"/>
                </label>
                <button>登入</button>
            </form>
        </div>
        <hr>
        <div class="content">計算正整數的平方(顯示query string)
            <form id="calculate">
                <label>正整數
                    <input type="number" name="inputNumber">
                </label>
                <button onclick="calculate1()">計算</button>
            </form>
        </div>
        <hr>
        <div class="content">計算正整數的平方(移除query string)
            <div>
                <label>正整數
                    <input type="number" name="inputNumber">
                </label>
                <button onclick="calculate2()" id="calculate2">計算</button>
            </div>
        </div>
    </div>
    <script>
        let calculate1 = ()=>{
            let data = document.getElementsByName("inputNumber")[0].value;
            let action = "/square/"+data;
            document.getElementById("calculate").setAttribute("action", action);
        }
        let calculate2 = ()=>{
            let data = document.getElementsByName("inputNumber")[1].value;
            let action = "/square/"+data;
            let redirect = function(){location.href = action;}
            document.getElementById("calculate2").onclick = redirect();
            redirect();
        }
    </script>
</body>
</html>