<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>week-4_assignment</title>
</head>
<body>
    <div class="frame">
        <div class="title">已登出系統</div>
        <div class="content">
            <p>恭喜您，成功登出系統</p>
            <a href="/">回到登入頁面</a>
        </div>
    </div>
</body>
</html>