<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>week-4_assignment</title>
</head>
<body>
    <div class="frame">
        <div class="title">正整數平方計算結果</div>
        <div class="content">
            <p>{{data}}</p>
            <a href="/">重新輸入</a>
        </div>
    </div>
</body>
</html>