.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    background-color: blanchedalmond;
    height: 50px;
}
.navbar > div,ul{
    width: 49%;
    padding: 5px;
}
.desktop_menu{
    display: flex;
    justify-content: right;
}
.desktop_menu li{
    flex-wrap: nowrap;
    list-style-type:none;
    margin: 0 5px;
}
.mobile_menu{
    display: none;
}
.banner_content{
    display: table-cell;
    width: 100vmax;
    height: 300px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: chocolate;
}
.main_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
}
.main_content > div{
    width: 1200px;
    height: auto;
    background-color: antiquewhite;
}
.promo_content{
    display: flex;
    flex-direction: row;
}
.promo_content > figure{
    display: flex;
    flex-direction: row;
    width: 49%;
    height: 50px;
    margin: 5px auto;
    align-items: center;
    background-color: aliceblue;
}
.promo_content img{
    object-fit: cover;
    width: 80px;
    height: 50px;
}
.promo_content figcaption{
    width: auto;
    height: auto;
}
.title_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.title_content > figure{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: auto;
    margin: 5px auto;
    text-align: center;
    background-color: aliceblue;
}
.title_content img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
@media (max-width:1200px){
    .main_content > div{
        width: 90%;
    }
    .title_content{
        flex-wrap: wrap;
    }
    .title_content > figure{
        flex: 49%;
        margin: 0.5%;
    }
}
@media (max-width:600px){
    .desktop_menu{
        display: none;
    }
    .mobile_menu{
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .mobile_menu img{
        height: 30px;
        object-fit: contain;
    }
    .main_content > div{
        width: 90%;
    }
    .promo_content{
        flex-direction: column;
    }
    .promo_content > figure{
        width: 100%;
    }
    .title_content > figure{
        flex: 100%;
    }
}